<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category_rep.category %>
</p>

<%= link_to 'Edit', edit_category_rep_path(@category_rep) %> |
<%= link_to 'Back', category_reps_path %>
