<%= form_for @comment, url: {controller: "comments", action: "update"} do |f| %>
    <div class="field">
    Your Comment :  <%= f.text_area :content %>
    </div>
    <%=f.hidden_field :id %>
    <div class="actions">
      <%= f.submit "Edit Comment" %>
    </div>
<% end %>